@{
    ViewBag.Title = "Home Page";
}

<h3>Bem vindo @ViewBag.usuario</h3> <br />

<a href="@Url.Action("Create" , "Artigo")"><img src="~/Img/EnviarArtigo.jpg" width="30%" /> </a>


@if (Session["Perfil"].Equals("Revisor"))
{
    <a href="@Url.Action("Index" , "Artigo")"><img src="~/Img/avaliar.jpg" width="30%" /> </a>
}

-----Melhores artigos----
