@{
    ViewBag.Title = "Home Page";
}
<div align="center">
    <h1> Agradecimentos:</h1>

    <h1 style="color:blue">RODRIGO LINDOOO!!!</h1>

    <img src="~/Img/RodrigoLindo.png" />


    <h1>Precisamos só de 5 pontos para passar. Avalie com carinho.</h1>


    <button id="btn" class="btn btn-outline-success" onclick="insereTexto()"> Clique aqui</button>

    <div id="divTeste"> </div>
    
</div>


@section scripts{
    <script type="text/javascript">
        function insereTexto() {
            document.getElementById('divTeste').innerHTML = 'VALE  1 LITRÂO';
        }
    </script>

}